body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFDEE9, #B5FFFC);
    background-attachment: fixed;
    transition: background 1s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #d63384;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #d63384;
}
